<article class="rental">
  <div class = "details">
    <h3>{{@title}}</h3>
    <div class="detail owner">
      <span>Position:</span> {{@position}}
    </div>
    <div class="detail location">
      <span>Description:</span> {{@description}}
    </div>
  </div>
</article>